<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="index :: head"></head>

<body>
  <header th:replace="index :: header"></header>

  <div class="container py-9 py-lg-11">
    <h3 th:text="${titulo}" class="text-center"></h3>
    <div class="row justify-content-center">
      <div class="col-7">
        <form th:action="@{/paciente/save}" th:object="${paciente}" method="post">
          <input type="hidden" th:field="*{id}" class="form-control" id="id" />
          <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input required placeholder="Escribe el nombre aquí" type="text" th:field="*{name}" class="form-control"
                id="name" />
            </div>
          </div>

          <div class="row mb-5">
            <label for="debt" class="col-sm-2 col-form-label">Deuda</label>
            <div class="col-sm-10">
              <input required placeholder="Escribe la deuda aquí" type="number" th:field="*{debt}" value="0"
                class="form-control" id="debt" />
            </div>
          </div>

          <div class="row mb-5">
            <label for="cuot" class="col-sm-2 col-form-label">Cuota</label>
            <div class="col-sm-10">
              <input required placeholder="Escribe la cuota mensual aquí" type="number" th:field="*{cuot}" value="0"
                class="form-control" id="cuot" />
            </div>
          </div>

          <div th:if="${paciente.id != null}" class="row mb-5">
            <nav class="collapse-group nav collapse d-flex flex-column">
              <div class="collapse d-block">
                <div class="nav flex-column">
                  <a th:text="'Pagos : ' + ${paciente.payments.size()}" href="#pays" class="nav-link collapsed"
                    data-bs-toggle="collapse" aria-expanded="true"> </a>
                  <div class="collapse" id="pays">
                    <div class="row">
                      <div th:each="pay, i : ${paciente.payments}" class="nav nav-level-2 flex-column">
                        <label th:text="'Monto Pago #' + ${i.index + 1 }" class="col-sm-2 col-form-label"></label>
                        <input type="number" th:field="*{payments[__${i.index}__].mount}" value="0" class="form-control"
                          id="paymentAmount" />

                        <label th:text="'Fecha Pago #' + ${i.index + 1}" class="col-sm-2 col-form-label"></label>
                        <input type="date" th:field="*{payments[__${i.index}__].date}" value="0" class="form-control"
                          id="paymentDate" />

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            </br>
          </div>

          <div class="row mb-5">
            <label for="date" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-10">
              <input required placeholder="Escribe la fecha en esta forma (mm/dd/aaaa)" type="date" th:field="*{date}"
                class="form-control" id="date" />
            </div>
          </div>

          <button type="submit" class="btn btn-primary" th:text="Guardar"></button>
        </form>
      </div>
    </div>
  </div>
  <script th:src="@{/assets/js/theme.bundle.js}"></script>
</body>

</html>